<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
<link name="world" />

  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/driller_new.xacro"/>
<xacro:panda_arm safety_distance="0.03" connected_to="world"/>
<xacro:driller_new ns="panda" rpy="0 0 0.785398" connected_to="panda_link8" safety_distance="0.03"/>
</robot>
